<%= form_with model: event do |form| %>
  <div class="field">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, size: "60x5" %>
  </div>
  <div class="field">
    <%= form.label :location, "Location" %>
    <%= form.text_field :location %>
  </div>
  <div class="field">
    <%= form.label :date_time, "Day & time" %>
    <%= form.datetime_local_field :date_time %>
  </div>
  <div class="actions">
    <%= form.submit submitText %>
  </div>
<% end %>
