<%= form_with model: @event, url: events_path do |f| %>
  <div class="mb-4">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= f.label :content, class: "form-label" %>
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= f.submit "Create Event", class: "btn btn-primary" %>
  </div>
<% end %>
